<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="empregos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arise — Empregos </title>
</head>
<body>


  <main class="layout">
    <aside class="list-pane" >
      <ul class="job-list" id="job-list">

        <li class="job-card" aria-hidden="true"> Emprego 1 </br> Rio de Janeiro</li>
        <li class="job-card" aria-hidden="true"> Emprego 2 </br> Rio de Janeiro</li>
        <li class="job-card" aria-hidden="true"> Emprego 3 </br> Rio de Janeiro </li>
        <li class="job-card" aria-hidden="true"> Emprego 4 </br> São Paulo </li>
      </ul>
    </aside>

    <section class="detail" id="job-detail">
        <h1>Seu emprego dos sonhos aqui</h1>
        <p>Salário: 100 000 000 R$</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ea reprehenderit a perspiciatis iure quam culpa illo nobis corporis! Necessitatibus temporibus deserunt molestias porro sunt consequuntur esse repudiandae eum fuga?</p>
    </section>
  </main>



</body>
</html>




