<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="empregos.css">
    <script src="../controller/empregos.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>empregos</title>
</head>
<body>
    <div id="topbar">  
        <a href="index.html">  <img id="logo" class="logo" src="img/logo.png" alt="logo"><img></a>
        <div id="icones-pequenos"> 
            <a href="perfil.html"> <img id="perfil" class="icon" src="img/perfil.png" alt="perfil"/> </a>
            <a href="messages.html" id="message-wrapper" style="position: relative;">
            <img id="message" class="icon" src="img/message.png" alt="mensagens"/>
            <span id="unread-badge" 
                    style="
                    position: absolute;
                    top: 7px;
                    right: 7px;
                    background: red;
                    color: white;
                    padding: 2px 5px;
                    font-size: 11px;
                    border-radius: 50%;
                    display: none;
                    ">
                </span>
            </a>
        </div>
    </div>


    <div class="caixas">
     
        <div id="paginas" class="secundaria">
            <a class="post_secundario" href="posts.html">POSTS</a>
        </div>
        <div id="paginas" class="atual">
            <a class="post_atual" href="empregos.html">EMPREGOS</a>
        </div>
        <div id="paginas" class="secundaria">
            <a class="post_secundario" href="review.html">REVIEW</a>
        </div>
    </div>
  

    <div id="popup-candidatura">
    <div id="popup-conteudo">
        <h2>Candidatura</h2>

        <label>Nome</label>
        <input id="cand-nome" type="text" />

        <label>Email</label>
        <input id="cand-email" type="email" />

        <label>Mensagem</label>
        <textarea id="cand-msg" rows="4"></textarea>

        <div style="margin-top: 15px;">
        <button id="btn-enviar-cand">Enviar</button>
        <button id="btn-cancelar-cand" style="background:#ccc;">Cancelar</button>
        </div>
    </div>
    </div>

    <div id="popup-sucesso">Candidatura enviada! ✔️</div>

  
  <main class="layout">
    <aside class="list-pane" >
      <ul class="job-list" id="job-list"></ul>
    </aside>

    <section class="detail" id="job-detail">
        <p id="txt-espera">Clique em um dos cards a esquerda para carregar suas informações</p>
    </section>
  </main>
  <script src="../controller/script.js"></script>
  <script src="../controller/fotoPerfil.js"></script>
  <script src="../controller/messages.js"></script>
</body>
</html>




