<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="empregos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>empregos</title>
</head>
<body>
    <div id="topbar">  
        <a href="index.html">  <img id="logo" class="logo" src="img/logo.png" alt="logo"><img></a>
        <div id="icones-pequenos"> 
            <a href="perfil.html"> <img id="perfil" class="icon" src="img/perfil.png" alt="perfil"/> </a>
            <a href="messages.html"> <img id="message" class="icon" src="img/message.png" alt="cart"/></a>
        </div>
    </div>

    <div id="search-container">
        <input type="text" id="search-input" placeholder="Digite sua pesquisa..." />
        <button id="search-button">Buscar</button>
    </div>

    <div class="caixas">
     
        <div id="paginas" class="secundaria">
            <a class="post_secundario" href="posts.html">POSTS</a>
        </div>
        <div id="paginas" class="atual">
            <a class="post_atual" href="empregos.html">EMPREGOS</a>
        </div>
        <div id="paginas" class="secundaria">
            <a class="post_secundario" href="empresas.html">EMPRESAS</a>
        </div>
    </div>
  
  
  <main class="layout">
    <aside class="list-pane" >
      <ul class="job-list" id="job-list">

        <li class="job-card" aria-hidden="true"> Emprego 1 </br> Rio de Janeiro</li>
        <li class="job-card" aria-hidden="true"> Emprego 2 </br> Rio de Janeiro</li>
        <li class="job-card" aria-hidden="true"> Emprego 3 </br> Rio de Janeiro </li>
        <li class="job-card" aria-hidden="true"> Emprego 4 </br> São Paulo </li>
      </ul>
    </aside>

    <section class="detail" id="job-detail">
        <h1>Seu emprego dos sonhos aqui</h1>
        <p>Salário: 100 000 000 R$</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ea reprehenderit a perspiciatis iure quam culpa illo nobis corporis! Necessitatibus temporibus deserunt molestias porro sunt consequuntur esse repudiandae eum fuga?</p>
    </section>
  </main>
  <script src="../controller/script.js"></script>
</body>
</html>




