<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div id="topbar">  
        <a href="index.html">  <img id="logo" class="logo" src="img/logo.png" alt="logo"><img></a>
        <div id="icones-pequenos"> 
            <a href="perfil.html"> <img id="perfil" class="icon" src="img/perfil.png" alt="perfil"/> </a>
            <a href="messages.html"> <img id="message" class="icon" src="img/message.png" alt="cart"/></a>
        </div>
    </div>

    <div id="search-container">
        <input type="text" id="search-input" placeholder="Digite sua pesquisa..." />
        <button id="search-button">Buscar</button>
    </div>
    
    <div class="caixas">  

        <div id="paginas" class="secundaria">
            <a class="post_secundario" href="posts.html">POSTS</a>
        </div>
        <div id="paginas" class="secundaria">
            <a class="post_secundario" href="empregos.html">EMPREGOS</a>
        </div>
        <div id="paginas" class="secundaria">
            <a class="post_secundario" href="empresas.html">EMPRESAS</a>
        </div>

    </div>
    <h1 class="index">Conecte-se,inspire-se e cresça na área de STEM</h1>
    <br/><br/>

     

    <div class="caixas_home">

        <div class="caixa1">
            <h2 class="home">Posts</h2>
            <p class="home"> Converse e compartilhe experiencias com outras mulheres da area</p>
        </div>

        <div class="caixa1">
            <h2 class="home">Empregos</h2>
            <p class="home"> Veja vagas abertas e envie sua candidatura</p>
        </div>


        <div class="caixa1">
            <h2 class="home">Empresas</h2>
            <p class="home">Veja reviews e conheça empresas que valorizam mulheres na area de STEM</p>
        </div>
    </div>
<br/> <br/>
    <div id="paginas" class="explore">
        <a class= "inscreva-se" href="perfil.html">EXPLORE</a>
    </div>
</body>
</html>