<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div id="container">  
        <div id="topbar">  
            <a href="index.html">  <img id="logo" class="logo" src="img/logo.png" alt="logo"><img></a>
            <div id="icones-pequenos"> 
                <a href="perfil.html"> <img id="perfil" class="icon" src="img/perfil.png" alt="perfil"/> </a>
                <a href="messages.html" id="message-wrapper" style="position: relative;">
                <img id="message" class="icon" src="img/message.png" alt="mensagens"/>
                <span id="unread-badge" 
                        style="
                        position: absolute;
                        top: 7px;
                        right: 7px;
                        background: red;
                        color: white;
                        padding: 2px 5px;
                        font-size: 11px;
                        border-radius: 50%;
                        display: none;
                        ">
                    </span>
                </a>
            </div>
        </div>
        
        <div class="caixas">  

            <div id="paginas" class="secundaria">
                <a class="post_secundario" href="posts.html">POSTS</a>
            </div>
            <div id="paginas" class="secundaria">
                <a class="post_secundario" href="empregos.html">EMPREGOS</a>
            </div>
            <div id="paginas" class="secundaria">
                <a class="post_secundario" href="review.html">REVIEW</a>
            </div>

        </div>
        <h1 class="index">Conecte-se,inspire-se e cresça na área de STEM</h1>
        <br/><br/>

        

        <div class="caixas_home">

            <div class="caixa1" onclick="window.location.href='posts.html'">
                <h2 class="home">Posts</h2>
                <p class="home"> Converse e compartilhe experiencias com outras mulheres da area. Poste a sua experiencia</p>
            </div>

            <div class="caixa1" onclick="window.location.href='empregos.html'">
                <h2 class="home">Empregos</h2>
                <p class="home"> Veja vagas abertas e envie sua candidatura. Você pode conseguir um emprego</p>
            </div>


            <div class="caixa1" onclick="window.location.href='review.html'">
                <h2 class="home">Reviews</h2>
                <p class="home">Veja reviews e conheça empresas que valorizam mulheres na area de STEM</p>
            </div>
        </div>
    <br/> <br/>
        <div id="paginas" class="explore">
            <a class= "inscreva-se" href="posts.html">EXPLORE</a>
        </div>
    </div>
    <script src="../controller/script.js"></script>
    <script src="../controller/fotoPerfil.js"></script>
    <script src="../controller/messages.js"></script>


</body>
</html>