<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="estilo.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mensagens</title>
</head>
<body>

<div id="topbar">
  <a href="index.html"><img id="logo" class="logo" src="img/logo.png"></a>

  <div id="icones-pequenos"> 
    <a href="perfil.html" onclick="localStorage.removeItem('perfilAberto')">
      <img id="perfil" class="icon" src="img/perfil.png">
    </a>
    <a href="messages.html">
      <img id="message" class="icon" src="img/message.png">
    </a>
  </div>
</div>

<div id="chat-container">

  <div id="conversations">
    <h3>Usuários</h3>
    <div id="user-list"></div>
  </div>

  <div id="chat-window">
    <h3 id="chat-header">CHAT</h3>
    <div id="messages"></div>

    <div id="message-input-container">
      <input type="text" id="message-input">
      <button id="send-button">Enviar</button>
    </div>
  </div>

</div>

<script src="../controller/fotoPerfil.js"></script>
<script src="../controller/messages.js"></script>

<script>
document.addEventListener("DOMContentLoaded", () => {
    if (window.refreshHeaderAvatar) window.refreshHeaderAvatar();
});
</script>

</body>
</html>
