<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
</head>
<body>
    <div id="topbar">  
        <a href="index.html"><img id="logo" class="logo" src="img/logo.png" alt="logo"></a>
        <div id="icones-pequenos"> 
            <a href="perfil.html"><img id="perfil" class="icon" src="img/perfil.png" alt="perfil"/></a>
            <a href="messages.html"><img id="message" class="icon" src="img/message.png" alt="cart"/></a>
        </div>
    </div>

    <div id="search-container">
        <input type="text" id="search-input" placeholder="Digite sua pesquisa..." />
        <button id="search-button">Buscar</button>
    </div>

    <div class="caixas">  
        <div id="paginas" class="atual">
            <a class="post_atual" href="posts.html">POSTS</a>
        </div>
        <div id="paginas" class="secundaria">
            <a class="post_secundario" href="empregos.html">EMPREGOS</a>
        </div>
        <div id="paginas" class="secundaria">
            <a class="post_secundario" href="empresas.html">EMPRESAS</a>
        </div>
    </div>
    
    <!-- container onde os posts aparecem -->
    <div id="posts-container"></div>

    <!-- apenas o JS -->
    <script src="../controller/posts.js"></script>
    


</div>
<script src="../controller/script.js"></script>
</body>
</html>
